body{

}
ul.menu li{
    display: inline;
}

.left{
    position: fixed;
    left: 0px;
    width: 300px;
    border: 0;
    padding: 10px'
}

.right{
    position: fixed;
    right: 0px;
    width: 300px;
    border: 0;
    padding: 10px;
}

div#top{
    position: fixed;
    top: 0;
    width: 100%;
}

.centered{
    position: fixed;
    top: 35%;
    right: 40%;
}

div#bottom{
    position: fixed;
    bottom: 8%;
    width: 100%;
}